{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="text-center">Agregar Departamento</h1>
<form action="" method="POST" class="card card-body">
    {% csrf_token %}
    <br>
    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>Codigo</strong></label></h6>

    <input type="number" name="codigo" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el codigo">
    <br>
    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>Nombre</strong></label></h6>

    <input type="text" name="nombre" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el nombre">
    <br>
    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>Presupuesto</strong></label>
    </h6>
    <input type="number" name="presupuesto" class="form-control" id="formGroupExampleInput"
        placeholder="Ingrese el presupuesto">
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-success">Salve</button>
</form>
{% endblock %}