{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="text-center">Seleccionar Departamento</h1>
<form action="{{ depa.codigo }}" method="POST" class="card card-body">
    {% csrf_token %}

    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>Codigo</strong> </label></h6>



    <select name="codigo" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
        id="formGroupExampleInput" required>
        <option selected disabled value="">Seleccionar codigo</option>
        {% for depa in departamentos %}
        <option value="{{ depa.codigo }}">{{ depa.nombre }}</option>
        {% empty %}
        <option selected disabled value="">La lista se encuentra vacia</option>
        {% endfor %}
        <div class="invalid-feedback">Please select a valid state.</div>



    </select>
    <br>
    <br>
    <button class="btn btn-success">Obrener informacion</button>

</form>
{% endblock %}