{% extends 'layouts/base.html' %}

{% block content %}
<h1>Editar Empleado</h1>
<form action="" method="POST" class="card card-body">
    {% csrf_token %}

    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>Codigo</strong></label></h6>

    <input type="number" name="codigo" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el codigo"
        value="{{ empleados.codigo }}">

    <h6 class="text-center"><label for="formGroupExampleInput" class="form-label"><strong>NIF</strong></label></h6>

    <input type="text" name="nif" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el nif"
        value="{{ empleados.nif }}">

    <h6 class="text-center"><label for=" formGroupExampleInput" class="form-label"><strong>Nombre</strong></label></h6>

    <input type="text" name="nombre" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el nombre"
        value="{{ empleados.nombre }}">

    <h6 class="text-center"><label for=" formGroupExampleInput" class="form-label"><strong>Primer
                apellido</strong></label></h6>

    <input type="text" name="apellido1" class="form-control" id="formGroupExampleInput"
        placeholder="Ingrese el primer apellido" value="{{ empleados.apellido1 }}">

    <h6 class="text-center"><label for=" formGroupExampleInput" class="form-label"><strong>Segundo
                apellido</strong></label></h6>

    <input type="text" name="apellido2" class="form-control" id="formGroupExampleInput"
        placeholder="Ingrese el segundo apellido" value="{{ empleados.apellido2 }}">

    <h6 class="text-center"><label for=" formGroupExampleInput" class="form-label"><strong>Departamento</strong></label>
    </h6>
    <select name="departamento" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
        id="formGroupExampleInput" required>
        <option value="{{ empleados.codigo_departamento.codigo }}">{{ empleados.codigo_departamento.nombre }}</option>
        {% for depa in departamentos %}
        {% if empleados.codigo_departamento.codigo != depa.codigo %}
        <option value="{{ depa.codigo }}">{{ depa.nombre }}</option>
        {% endif %}
        {% empty %}
        <option selected disabled value="">La lista se encuentra vacia</option>
        {% endfor %}
        <div class="invalid-feedback">Please select a valid state.</div>
    </select>

    <br>
    <button class="btn btn-success">Salve</button>
    <br>
    <a href="{% url 'seleccionar empleado' %}" class="btn btn-primary">Salir</a>
</form>
{% endblock %}