{% extends 'layouts/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="card card-body">
            <h1>Empleados</h1>

            {% for empleado in empleados %}
            <div class="card card-body">
                <h6>Codigo: {{ empleado.codigo }}</h6>
                <h6>nif: {{ empleado.nif }}</h6>
                <h6>Nombre: {{ empleado.nombre }}</h6>
                <h6>Primer apellido: {{ empleado.apellido1 }}</h6>
                <h6>Segundo apellido: {{ empleado.apellido2 }}</h6>
                <h6 style="color: brown;"> Departamento: <span style="color: black;">
                        {{ empleado.codigo_departamento.nombre }}</span>
                </h6>
            </div>
            {% empty %}
            <h2>La lista se encuentra vacia</h2>
            {% endfor %}






        </div>
    </div>
</div>




{% endblock %}